[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = "*"
uvicorn = "*"
motor = {extras = ["srv"], version = "*"}
pydantic-settings = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
